{% extends 'cms-base.html' %}
{% load static sass_tags %}

{% block content %}
<!-- <div data-spy="scroll" data-target="#cms-navbar" data-offset="0"> -->
<section class="home-hero-section" id="home">
    <div class="hero-content">
        <h1>List Your Projects <span class="avenir-heavy">With Us</span></h1>
        <p>A digital real estate agency.</p>
        <div class="input-group">
            <img src="{% static 'img/icons/home.png' %}" alt="">
            <input class="form-control" type="text" placeholder="Search by City" aria-label="Search">
            <button class="input-group-append">
                <span class="input-group-text">Search</span>
            </button>
        </div>
    </div>
</section>

<section class="home-intro-section" id="about-us">
    <div class="section-header">
        <h2>Welcome to AJ Realty</h2>
        <p>When it comes to real estate and properties, we are here every step of the way.</p>
    </div>
    <div class="row no-gutters home-intro-row">
        <div class="col-12 col-md-6">
            <div class="home-intro-img">
                <img src="{% static 'img/home/real-estate-agent.png' %}" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="home-intro-info">
                <h3>Real Estate Made Easy.</h3>
                <p>Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year. Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year. Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year. Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year. Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year.</p>
            </div>
        </div>
    </div>
    <div class="row no-gutters home-intro-row">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div class="home-intro-info">
                <h3>Real Estate Made Easy.</h3>
                <p>Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year. Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year. Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year. Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year. Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
            <div class="home-intro-img">
                <img src="{% static 'img/home/home-interior.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="home-services-section" id="services">
    <div class="section-header">
        <h2>Our Services</h2>
        <p>When it comes to real estate and properties, we are here every step of the way.</p>
    </div>
    <div class="home-services-cards-row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 services-card-col">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/home/apartment.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Local State Agents</h4>
                            <p class="card-text">We take quality seriously. Our best affiliates undergo training and exams to take part in our partner programme.</p>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-md-4 services-card-col">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/home/bungalow.png' %}">
                        <div class="card-body">
                            <h4 class="card-title">Academy & Training</h4>
                            <p class="card-text">Gain access to our learning academy and upskill yourself with our curated courses and trainers.</p>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-md-4 services-card-col">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/home/apartment.png' %}">
                        <div class="card-body">
                            <h4 class="card-title">Asset Management</h4>
                            <p class="card-text">Grow your network and learn from the best within the AJ Community. Get invites to exclusive events all-year.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-featured-section">
    <div class="section-header">
        <h2>Featured Projects</h2>
        <p>When it comes to real estate and properties, we are here every step of the way.</p>
    </div>
    <div class="home-featured-body">
        <div class="container">
            <div class="owl-carousel owl-theme">
                <div class="featured-owl-img"> 
                    <img src="{% static 'img/theme/team-1.jpg' %}" alt="">
                </div>
                <div class="featured-owl-img">
                    <img src="{% static 'img/theme/team-2.jpg' %}" alt="">
                </div>
                <div class="featured-owl-img">
                    <img src="{% static 'img/theme/team-3.jpg' %}" alt="">
                </div>
                <div class="featured-owl-img">
                    <img src="{% static 'img/theme/team-3.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-form-section" id="contact">
    <div class="container">
        <div class="home-form-body">
            <form>
                <h2 class="mb-md-4 mb-3">We'd love to hear from you</h2>
                <div class="form-row">
                    <div class="form-group col-md-6 col-12 pr-md-5">
                        <input type="text" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="form-group col-md-6 col-12 pl-md-5">
                        <input type="text" class="form-control" placeholder="Company Name (Optional)">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-12 pr-md-5">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6 col-12 pl-md-5">
                        <input type="tel" class="form-control" placeholder="Phone Number">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="btn-div">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- </div> -->
{% endblock content %}

{% block page_js %}
<script>
$(document).ready(function(){
    $(".owl-carousel").owlCarousel({
        loop:true,
        margin:20,
        dots: true,
        responsiveClass:true,
        navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
        responsive:{
            0:{
                items:1,
                nav:true
            },
            600:{
                items:2,
                nav:true
            },
            1000:{
                items:3,
                nav:true
            }
        }
    });
});
</script>

<script>
$(".sliding-link").click(function(e) {
    var anchorId = $(this).attr("href");
    $('html,body').animate({scrollTop: $(anchorId).offset().top}, 600);
});
</script>

{% endblock page_js %}