.cms-navbar {

    @media screen and (max-width:991px) {
        padding: 0.5rem 0;
    }

    position: fixed;
    left: 0;
    top: 0;
    height: 65px;
    width: 100%;
    padding: 0 40px;
    background: $white;
    z-index: 999;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(244,244,246,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(244,244,246,0.75);
    box-shadow: 0px 1px 5px 0px rgba(244,244,246,0.75);

    #navbarNav {
        @media screen and (max-width:991px) {
            background: $white;
            padding: 20px;
        }
    }

    .navbar-brand {
        margin-left: 20px;
    }

    img { 
        width: 100px;
        height: auto;
        object-fit: contain;
    }

    a {
        font-family: 'Avenir-light';
        font-size: 14px;
    }

    .navbar-nav {

        .nav-item {
            @media screen and (max-width:991px) {
                margin-bottom: 10px;
            }

            .nav-link {
                &.active {
                    color: $blue;
                }
            }

            &.active {
                color: $blue;

                .nav-link {
                    color: $blue;
                }

            }

        }

        .nav-link {
            @media screen and (min-width:992px) {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }
        }

    }

    .navbar-toggler-icon {
        width: 1.3em;
        height: 1.3em;
    }

}

