.commission-header {

    background: #5e72e4;
    padding: 35px 0 75px;

    h2 {
        color: $white;
        font-size: 34px;
        font-family: $avenir-medium;
        margin-left: 25px;

        @media screen and (max-width:767px) {
            font-size: 24px;
            margin-left: -15px;
        }

    }

    p {
        font-size: 14px;
    }
}

