.dashboard-section {
    min-height: 100vh;
    background: url('../../../static/img/dashboard/dashboard-green-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;

    h2 {
        font-size: 26px;
        font-family: $avenir-medium;

        @media screen and (max-width:767px) {
            font-size: 22px;
        }

    }

    .dashboard-row {
        justify-content: space-between;

        @media screen and (max-width:767px) {
            width: 95%;
            margin: 0 auto;
        }
        
        .dashboard-product-col {
            background: #fff;
            padding-bottom: 15px;
            border-radius: 10px;
            max-width: 49%;
            margin-bottom: 30px;
            padding: 65px 20px 20px;
    
            @media screen and (max-width:767px) {
                max-width: 100%;
            }
        
            h3 {
                margin-top: 25px;
                margin-bottom: 50px;
                color: #fff;
                font-size: 22px;
                font-family: "Avenir-roman";
                letter-spacing: 1;
            }
        
            .dashboard-product-links {
                display: flex;

                a {
                    color: $white;
                    font-size: 13px;
                    font-family: $avenir-light;
                }
            }

            &.realty-product-col {
                background-image: url('../../../static/img/home/apartment.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right;
                background-color: #1889FC;
            }

            &.reliance-product-col {
                background-image: url('../../../static/img/home/bungalow.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right;
                background-color: #71EB3B;
            }
        
        }
    
    }

    .product-announcement-row {

        .product-annoucement-col {
            .body {

                a {
                    font-size: 15px;
                }

                padding: 15px 30px 30px;
                border-radius: 10px;
                background: $white;

                .date {
                    background: $grey-300;
                    width: 95%;
                    border-radius: 20px;
                    text-align: center;
                    padding: 2px 0;

                    p {
                        font-family: $avenir-roman;
                    }

                }

                .info {
                    p {
                        font-family: $avenir-roman;
                        font-size: 16px;
                    }
                }

            }
        }

        .product-commissions-col {
            .body {

                a {
                    font-size: 15px;
                }

                padding: 15px 30px 30px;
                border-radius: 10px;
                background: $white;

                .date {
                    background: $grey-300;
                    width: 95%;
                    border-radius: 20px;
                    text-align: center;
                    padding: 2px 0;

                    p {
                        font-family: $avenir-roman;
                    }

                }

                .amount {
                    p {
                        font-family: $avenir-roman;
                        font-size: 16px;
                    }
                }

                .status {
                    p {
                        font-family: $avenir-roman;
                        font-size: 16px;

                        &.successful {
                            color: $green;
                        }

                        &.pending {
                            color: $yellow;
                        }

                        &.unsuccessful {
                            color: $red;
                        }

                    }
                }

            }
        }


    }

}



