.dashboard-navbar {

    padding: 0.5rem 2rem;

    .nav-dropdown-link {
        @media screen and (max-width:1023px) {
            display: none;
        }
    }

    .dropdown-menu {
        @media screen and (max-width:1023px) {
            display: block;
            box-shadow: none;
            border: none;
            opacity: 1;
            padding-top: 0;
        }

        .dropdown-item {

            color: rgba(0, 0, 0, 0.6);
            font-family: $avenir-light;
            font-size: 14px;

            @media screen and (max-width:1023px) {
                padding: 0.5rem 0.5rem;
            }
        }
    }

    .media {
        @media screen and (max-width:1023px) {
            display: none;
        }
    }

    .navbar-logo {
        img {
            width: 120px;
            height: auto;
            object-fit: contain;
        }
    }

    .nav-item {

        .nav-link {
            font-family: $avenir-light;
            font-size: 14px;

            @media screen and (max-width:1023px) {
                padding: 0.5rem 0;
            }

        }
    }

}