.error-section {
    background: #fafafa;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .error-page-body {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;

        @media screen and (max-width:767px) {
            max-width: 80%;
        }

        p {
            color: $grey-400;
            font-family: $avenir-roman;
            font-size: 16px;
        }

        svg {
            @media screen and (max-width:767px) {
                width: 80%;
                height: auto;
            }
        }

    }

}