.footer-section {
    background: $dark-blue;
    padding: 60px 0;

    @media screen and (max-width:767px) {
        padding: 40px 0;
    }

    hr {
        border-top: 1px solid $white;
    }

    .footer-row {

        @media screen and (max-width:767px) {
            width: 95%;
            margin: 0 auto;
        }
    }

    img {
        width: 180px;
        height: auto;
        object-fit: contain;
        display: block;
        margin-bottom: 40px;

        @media screen and (max-width:767px) {
            width: 140px;
        }
        
    }

    p {
        color: $white;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            color: $white;
            font-size: 14px;
            margin-bottom: 15px;
        }

    }

    a {
        font-size: 14px;
        color: $white;
        display: block;
        margin-bottom: 15px;
        font-family: $avenir-light;
        transition: all 0.25s;

        &:hover {
            color: $blue;
        }

    }

    h6 {
        font-size: 16px;
        color: $white;
        margin-bottom: 40px;
    }

    .footer-info {
        max-width: 80%;

        @media screen and (max-width:767px) {
            max-width: 95%;
        }

    }

    .footer-header {
        margin-top: 20px;
    }

}