.section-header {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;

    @media screen and (max-width:767px) {
        max-width: 85%;
    }

}

.home-hero-section {
    margin-top: 65px;
    height: calc(80vh - 65px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../static/img/home/skyline.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width:767px) {
        margin-top: 0;
    }

    .hero-content {
        text-align: center;
        width: 550px;
        margin-top: 150px;

        @media screen and (max-width:767px) {
            width: 85%;
        }

        h1 {
            letter-spacing: 1.2;
            color: $white;
            font-size: 38px;
            font-family: 'Avenir-Light';

            @media screen and (max-width:767px) {
                font-size: 30px;
            }

        }

        p {
            color: $white;
            margin-bottom: 50px;
        }

        .input-group {

            img {
                position: absolute;
                z-index: 999;
                top: 18px;
                left: 20px;
                width: 14px;
            }

            .form-control {
                height: calc(2.0em + 1.25rem + 5px);
                padding-left: 50px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
    
            .input-group-append {
                display: flex;
                align-items: center;
                background: $cyan;
                border: none;
                outline: none;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
    
                .input-group-text {
                    background-color: transparent;
                    border: none;
                    color: $white;
                    font-size: 13px !important;
                    font-family: 'Avenir-Light';
                    padding-top: 13px;
                }
    
            }

        }


    }

}

.home-intro-section {
    padding-top: 80px;

    @media screen and (max-width:767px) {
        padding-top: 50px;
    }

    h2 {
        font-size: 30px;
        color: $dark-blue;

        @media screen and (max-width:767px) {
            font-size: 24px;
        }

    }

    h3 {
        color: $blue;
        font-size: 36px;

        @media screen and (max-width:767px) {
            font-size: 26px;
        }

    }

    .home-intro-row {
        margin-bottom: 70px;

        @media screen and (max-width:767px) {
            margin-bottom: 50px;
        }

        .home-intro-img {

            img {
                width: 100%;
                height: auto;
            }
    
        }
    
        .home-intro-info {
            height: 100%;
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width:767px) {
                width: 80%;
                text-align: center;
                margin: 25px auto 0;
            }

        }    

    }

}


.home-services-section {
    padding-top: 80px;
    background: linear-gradient(to top, $blue 40%, #fff 40%);

    @media screen and (max-width:767px) {
        padding-top: 40px;
    }


    h2 {
        font-size: 30px;
        color: $dark-blue;

        @media screen and (max-width:767px) {
            font-size: 24px;
        }

    }

    .home-services-cards-row {

        .services-card-col {
            padding-left: 10px;
            padding-right: 10px;

            .card {
                padding: 60px 0 30px;

                @media screen and (max-width:767px) {
                    padding: 40px 0 20px;
                    width: 90%;
                    margin: 0 auto 25px;
                }

                .card-img-top {
                    width: 35%;
                    margin: 0 auto;
                    height: 120px;
                    object-fit: contain;
                }

                .card-body {
                    text-align: center;
                    padding: 1.5rem 2.5rem;
                }

                h4 {
                    color: $dark-blue;
                    font-size: 18px;
                }

            }
        }

    }
}

.home-featured-section {
    padding-top: 80px;
    padding-bottom: 40px;
    background: $blue;

    @media screen and (max-width:767px) {
        padding-top: 40px;
    }

    h2 {
        font-size: 30px;
        color: $white;

        @media screen and (max-width:767px) {
            font-size: 24px;
        }

    }

    p {
        color: $white;
    }

    .home-featured-body {

        .owl-carousel {
            .owl-item {
                img {
                    border-radius: 10px;
                }
            }

            .owl-nav {
                position: absolute;
                top: 40%;
                width: 100%;

                .owl-prev {
                    position: absolute;
                    left: 0;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background: #f4f4f6;
                    opacity: 0.8;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        opacity: 1;
                    }

                    i {
                        color: $white;
                        font-size: 24px;
                    }

                }

                .owl-next {
                    position: absolute;
                    right: 0;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background: #f4f4f6;
                    opacity: 0.8;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        opacity: 1;
                    }

                    i {
                        color: $white;
                        font-size: 24px;
                    }

                }

            }

            .owl-dots {
                margin-top: 20px;

                .owl-dot {

                    &:focus {
                        outline: none;
                    }

                    &.active {

                        span {
                            background: #7D8DFC;
                        }

                    }

                    &:hover {
                        span {
                            background: #7D8DFC;
                        }
                    }

                    span {
                        background: #5666D5;
                        margin: 5px 5px;
                    }
                }
            }

        }

    }

}

.home-form-section {
    max-width: 1060px;
    padding-top: 100px;
    margin: 0 auto 80px;
    background-image: url('../../../static/img/home/bungalow.png'), url('../../../static/img/home/apartment.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 200px, 200px;

    h2 {
        font-size: 30px;
        color: $dark-blue;

        @media screen and (max-width:767px) {
            font-size: 26px;
        }

    }

    @media screen and (max-width:767px) {
        padding-top: 40px;
    }

    .home-form-body {
        background: $light-blue;
        border-radius: 10px;
        max-width: 70%;
        margin: 0 auto;

        @media screen and (max-width:767px) {
            max-width: 95%;
        }

        form {
            max-width: 80%;
            margin: 0 auto;
            padding: 60px 0;

            @media screen and (max-width:767px) {
                max-width: 85%;
                padding: 40px 0;
            }

            .form-control {
                color: $grey-600;
                background-color: transparent;
                border-bottom: 1px solid $grey-400;
                border-top: none;
                border-left: 0;
                border-right: 0;
                border-radius: 0;
                box-shadow: none;
                padding-left: 0;
            }

        }

    }

    .btn-div {
        width: 100%;
        text-align: center;
        margin-top: 30px;

        .btn {
            width: 150px;
            padding: 0.8rem 1.25rem;
            font-family: $avenir-light;
            font-size: 16px;
        }

    }

}

