.programme-section {

    .commission-header {
        &.registration-list-header {
            padding-bottom: 80px;
        }
    }

    .registration-referral {
        display: flex;
        background: #fff;
        margin-right: 30px;
        align-items: center;
        border-radius: 5px;

        p {
            padding: 15px;
            color: $white;
            background: $cyan;
            padding: 15px 20px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        a {
            color: $blue;
            font-size: 14px;
        }

    }

}

