.programme-section {

    .pagination {
        display: flex;
        justify-content: flex-end;

        .page-item {

            &.active {
                .page-link {
                    color: #000;
                    background-color: #BFD5FE;
                    border-color: #BFD5FE;
                }
            }

            .page-link {
                margin: 0;
            }

            &:first-child {

                .page-link {
                    margin: 0 3px;
                    border-radius: 50% !important;
                }

            }


            &:last-child {

                .page-link {
                    margin: 0 3px;
                    border-radius: 50% !important;
                }

            }
        }

    }

    .table-responsive {
        background: #fff;
        margin-top: -35px;
        border-radius: 5px;
        padding-top: 20px;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(244,244,246,1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(244,244,246,1);
        box-shadow: 0px 0px 3px 0px rgba(244,244,246,1);
    }


    div.dataTables_wrapper div.dataTables_paginate {
        margin-top: 20px;
    }

    div.dataTables_wrapper div.dataTables_info {
        margin-top: 20px;
    }

}

.property-programme-body {
    margin-top: -40px;       
}

.programme-body {
    display: flex;

    @media screen and (max-width:767px) {
        display: block;
    }

    .programme-sidebar {
        width: 25%;
        margin-right: 40px;

        @media screen and (max-width:767px) {
            width: 100%;
        }

        ul {
            list-style: none;
            padding-left: 0;
            background: #fff;
            border: 1px solid black;
            border-radius: 10px;

            li {
                padding: 20px;
                border-bottom: 1px solid black;

                &.active {
                    background: blue;
                    
                    a {
                        color: #fff;
                    }

                }

            }

        }

    }

    .programme-content {
        width: 95%;
        margin: 0 auto;

        &.property-programme-content {
            background: $white;
            border-radius: 10px;
            padding-top: 40px;
            padding-bottom: 5px;
            margin-bottom: 50px;
            -webkit-box-shadow: 2px 2px 7px 1px rgba(230,230,235,1);
            -moz-box-shadow: 2px 2px 7px 1px rgba(230,230,235,1);
            box-shadow: 2px 2px 7px 1px rgba(230,230,235,1);

            .property-content-body {
                width: 80%;
                margin: 0 auto;

                .property-details-name {

                    margin-bottom: 30px;

                    h2 {
                        font-size: 26px;
                        font-family: $avenir-roman;

                        @media screen and (max-width:767px) {
                            font-size: 20px;
                        }

                    }
                }

                .property-carousel {

                    height: 500px;
                    width: 100%;

                    @media screen and (max-width:767px) {
                        height: 200px;
                        width: 100%;
                    }

                    .owl-item {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .owl-dots {
                        display: none;
                    }
                }

                .owl-thumbs {

                    margin-top: 25px;
                    margin-bottom: 30px;
                    overflow-x: auto;
                    display: inline-flex;
                    width: 100%;

                    // @media screen and (max-width:1023px) {
                    //     overflow-x: auto;
                    //     display: inline-flex;
                    //     width: 100%;
                    // }

                    .owl-thumb-item {
                        width: 130px;
                        height: 90px;
                        margin-right: 10px;
                        margin-bottom: 40px;
                        padding: 0;
                        border: none;

                        @media screen and (max-width:767px) {
                            width: 50px;
                            height: 50px;
                            margin-right: 5px;
                            margin-bottom: 15px;
                            flex: 0 0 50px;
                        }

                        @media screen and (min-width:768px) and (max-width:1023px) {
                            width: 80px;
                            height: 80px;
                            margin-right: 5px;
                            margin-bottom: 15px;
                            flex: 0 0 80px;
                        }

                        @media screen and (min-width:1024px) {
                            width: 120px;
                            height: 90px;
                            margin-right: 5px;
                            margin-bottom: 15px;
                            flex: 0 0 120px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                        }

                    }
                }

                .property-details-img {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .property-details-body {

                    h3 {
                        color: #002AF5;
                        font-size: 20px;
                    }

                    .details {

                        h4 {
                            font-size: 17px;
                        }

                        .category-type {

                            display: flex;

                            @media screen and (max-width:767px) {
                                display: block;
                            }

                            .type {
                                width: 150px;

                                @media screen and (max-width:767px) {
                                    width: 100%;
                                }
                            }

                        }

                    }

                    .resources {

                        .resources-type {

                            display: flex;

                            .type {
                                width: 150px;
                            }

                            a {
                                font-size: 13px
                            }

                        }

                    }

                }

            }

        }

    }

    .programme-list {

        position: relative;

        .programme-list-name {
            position: absolute;
            top: -15px;
            padding: 6px 20px 3px;
            border-radius: 5px;
            background: blue;

            h3 {
                color: #fff;
            }

        }

        .programme-list-row {

            background: #fff;
            border-radius: 10px;
            -webkit-box-shadow: 2px 2px 7px 1px rgba(230,230,235,1);
            -moz-box-shadow: 2px 2px 7px 1px rgba(230,230,235,1);
            box-shadow: 2px 2px 7px 1px rgba(230,230,235,1);
            margin-bottom: 40px;
            height: 290px;

            @media screen and (max-width:767px) {
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                @media screen and (max-width:767px) {
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 0px;
                }

            }

            .programme-list-img-col {
                @media screen and (max-width:767px) {
                    height: 230px;
                }
            }

            .programme-info-col {
                display: flex;
                justify-content: space-between;
    
                .programme-property-info {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    margin-left: 30px;
                    padding: 25px 0;

                    .property-name {

                        @media screen and (max-width: 767px) {
                            margin-bottom: 20px;
                        }

                        h3 {
                            font-size: 24px;
                            font-family: $avenir-roman;

                            @media screen and (max-width: 767px) {
                                font-size: 20px;
                            }

                        }
                    }

                    .property-type {
                        small {
                            border: 1px solid black;
                            padding: 3px 15px;
                            border-radius: 5px;
                        }
                    }

                    .property-price {
                        h4 {
                            font-size: 18px;
                        }
                    }

                }
    
            }
        }

    }

}