.registration-section {
    min-height: 100vh;
    background: #f4f4f6;
    padding-top: 40px;
    padding-bottom: 100px;
    background: url('../../../static/img/home/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    .back-a {
        max-width: 850px;
        margin-bottom: 15px;
        color: $black;
        font-size: 14px;
        transition: all 0.25s;

        &:hover {
            color: $blue;
        }

        @media screen and (max-width:767px) {
            max-width: 90%
        }

    }

    .back-img {
        width: 14px;
        vertical-align: middle;
        margin-top: -3px;
    }

    h2 {
        font-size: 30px;
        color: $dark-blue;

        @media screen and (max-width:767px) {
            font-size: 22px;
        }

    }

    h4 {
        font-size: 17px;
        color: $dark-blue;
    }

    small {
        font-size: 10px;
        display: block;
        color: $grey-500;
        margin-bottom: 30px;
        margin-top: 5px;
        padding-left: 3px;
    }


    .registration-body {
        background: $white;
        max-width: 850px;
        margin: 0 auto;
        padding: 70px 0;
        border-radius: 10px;

        @media screen and (max-width:767px) {
            max-width: 90%
        }

        form {
            max-width: 700px;
            margin: 0 auto;

            @media screen and (max-width:767px) {
                max-width: 90%
            }

        }

    }

    .login-body {
        max-width: 550px;
        margin-top: 100px;

        @media screen and (max-width:767px) {
            max-width: 90%
        }

        .login-form {
            max-width: 400px;

            @media screen and (max-width:767px) {
                max-width: 85%
            }

            h2 {
                font-size: 20px;
                font-family: $avenir-roman;
                color: $cyan;
            }

            label {
                font-size: 12px;
            }

            .form-control {
                background-color: $grey-200;
                border: 1px solid $grey-200;
            }

            a {
                font-size: 12px;
                color: $grey-500;
                transition: 0.25s all;

                &:hover {
                    color: $blue;
                }

            }

            .btn-div {
                .btn-primary {
                    background: $cyan;
                    border: 1px solid $cyan;
                    transition: 0.25s all;
                    width: 100%;

                    &:hover {
                        background: $blue;
                        border: 1px solid $blue;
                    }
                }
            }

        }

    }

    .btn-div {
        width: 100%;
        text-align: center;
        margin-top: 30px;

        .btn {
            width: 150px;
            padding: 0.8rem 1.25rem;
            font-family: $avenir-light;
            font-size: 16px;
        }

    }


    select {
        background-image: url('../../../static/img/icons/down-arrow.png');
        background-size: 15px;
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
        color: #B2BBC2;
        -moz-appearance: window;
        -webkit-appearance: none;
      }

      .btn-div {

        .payment-btn {
            width: auto;
        }

      }

}

