{% extends 'cms-base.html' %}
{% load static sass_tags %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="registration-section">
    <a href="{% url 'registration:registration' %}" class="d-block back-a mx-auto"><img class="mr-2 back-img" src="{% static 'img/icons/back-black.png' %}" alt="">Back</a>
    <div class="registration-body">
        <form>
            <h2 class="mb-4">AJ Realty - Registrant Information</h2>
            <div class="form-row">
                <div class="col-12">
                    <textarea class="form-control" rows="8" placeholder="Remarks"></textarea>
                </div>
            </div>

            <div class="registration-information mt-5">
                <h2 class="mb-4">Payment Information</h2>
                <div class="registration-package">
                    <h4 class="mb-1">Package:</h4>
                    <p>AJ Realty Property Planner</p>
                </div>
                <div class="registration-fee">
                    <h4 class="mb-1">Fee:</h4>
                    <p>RM 199</p>
                </div>
            </div>

            <div class="btn-div text-center">
                <button class="btn btn-primary payment-btn">Proceed to Payment</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}