{% extends 'cms-base.html' %}
{% load static sass_tags %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="registration-section">
    <a href="#" class="d-block back-a mx-auto"><img class="mr-2 back-img" src="{% static 'img/icons/back-black.png' %}" alt="">Back</a>
    <div class="registration-body">
        <form>
            <h2 class="mb-4">Account Information</h2>
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <small class="mb-4">A username will be generated for you and sent to you via a confirmation email.</small>
            <div class="form-row mb-4">
                <div class="col-12 col-md-6">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col-12 col-md-6">
                    <input type="password" class="form-control" placeholder="Confirm Password">
                </div>
            </div>
            
            <h2 class="mb-4">User Information</h2>
            <div class="form-row mb-0 mb-md-4">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <input type="text" class="form-control" placeholder="Full Name">
                </div>
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <input type="number" class="form-control" placeholder="Primary Contact No.">
                </div>
            </div>
            <div class="form-row mb-0 mb-md-4">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <input type="number" class="form-control" placeholder="Secondary Contact No.">
                </div>
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <input type="number" class="form-control" placeholder="NRIC">
                </div>
            </div>
            <div class="form-row mb-0 mb-md-4">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <select class="form-control">
                        <option>Gender</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="form-row mb-0 mb-md-4">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <select class="form-control">
                        <option>Shariah Compliance (SC)</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="btn-div text-center">
                <button class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}