{% load static %}

<nav class="navbar dashboard-navbar navbar-expand-lg navbar-light">
    <a href="{% url 'user:dashboard' %}" class="navbar-brand navbar-logo" href="#"><img src="{% static 'img/logo/aj-logo.png' %}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto align-items-lg-center">
        <li class="nav-item mx-4">
            <a class="nav-link" href="{% url 'user:property-listing' %}">Products</a>
        </li>
        <li class="nav-item mx-4">
            <a class="nav-link" href="{% url 'user:announcement' %}">Announcement</a>
        </li>
        <li class="nav-item mx-4">
            <a class="nav-link" href="{% url 'user:property-commission' %}">Commissions</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link nav-dropdown-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle">
                        <img alt="Image placeholder" src="{% static 'img/theme/team-1.jpg' %}">
                    </span>
                    <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm  font-weight-bold">John Snow</span>
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">
                    <i class="ni ni-single-02"></i>
                    <span>My Profile</span>
                </a>
                <a href="#" class="dropdown-item">
                    <i class="ni ni-settings-gear-65"></i>
                    <span>Update Password</span>
                </a>
                <a href="#" class="dropdown-item">
                    <i class="ni ni-user-run"></i>
                    <span>Logout</span>
                </a>
            </div>
        </li>
      </ul>
    </div>
  </nav>
