{% load static sass_tags %}

<section class="footer-section">
    <div class="container">
        <div class="row footer-row">
            <div class="col-lg-5 col-md-12">
                <div class="footer-img">
                    <img src="{% static 'img/logo/logo-white.png' %}" alt="">
                </div>
                <div class="footer-info">
                    <p>Affiliate Junction ("AJ") is a leading affiliate marketing platform developed by iSYNERGY. Affiliates (digital entrepreneurs) promote advertisers digirally, driving rraffic and generating leads through curated content, email, website, link share, landing pages and social media to name a few, at the ease of their smartphones die to their efforts. Advertisers have access to a cost-effective marketing platform, paying only by performance to enhance brand awareness and increase sales revenue.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="footer-header">
                    <h6>USEFUL LINKS</h6>
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Affiliate</a></li>
                        <li><a href="#">Partner</a></li>
                        <li><a href="#">Advertiser</a></li>
                        <li><a href="#">Shariah Compliance</a></li>
                        <li><a href="#">CSR</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer-header">
                    <h6>CORPORATE OFFICE</h6>
                </div>
                <div class="footer-links">
                    <ul>
                        <li>Unit 20-10, Tower-A, The Vertical Business Suite, Avenue 3, Bangsar South, No.8, Jalan Kerinchi, 59200, Kuala Lumpur.</li>
                        <li><a href="tel:60322421333">+60322421333</a></li>
                        <li><a href="mailto:contact@aj.my">contact@aj.my</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-copyright text-center">
            <p>&copy; 2018 Affiliate Junction. All Rights Reserved.</p>
        </div>
    </div>
</section>