{% load static sass_tags %}

<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header d-flex align-items-center">
      <a class="navbar-brand" href="{% url 'user:dashboard' %}">
        <img src="{% static 'img/logo/logo.png' %}" class="navbar-brand-img" style="width: 115px;height: auto;max-width: unset;max-height: unset;">
      </a>
      <div class="ml-auto">
        <!-- Sidenav toggler -->
        <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'user:dashboard' %}">
					<i class="fas fa-chart-bar"></i>
					<span class="nav-link-text">Dashboard</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'user:property-listing' %}">
					<i class="fas fa-building"></i>
					<span class="nav-link-text">Property Listing</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'user:property-commission' %}">
					<i class="fas fa-coins"></i>
					<span class="nav-link-text">Commissions</span>
				</a>
			</li>	
			<li class="nav-item">
                <a class="nav-link" href="{% url 'user:property-registration-list' %}">
					<i class="fas fa-folder"></i>
					<span class="nav-link-text">My Registration</span>
				</a>
			</li>
			<li class="nav-item">
                <a class="nav-link" href="{% url 'user:profile' %}">
					<i class="fas fa-user"></i>
					<span class="nav-link-text">My Profile</span>
				</a>
			</li>
        </ul>
      </div>
    </div>
  </div>
</nav>