{% extends 'dashboard-base.html' %}
{% load static sass_tags %}

{% block sidebar %}
{% endblock sidebar %}

{% block portal_navbar %}
{% endblock portal_navbar %}

{% block content %}
<div class="programme-section announcement-section">
    <div class="announcement-header pl-5">
        <div>
            <h2>Announcement</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="programme-body">
            <div class="programme-content">
                <div class="table-responsive pb-4">
                    <table class="table table-flush w-100" id="myTable">
                        <thead class="thead-light">
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>abc</td>
                                <td>12/10/2020</td>
                            </tr>
                            <tr>
                                <td>abc</td>
                                <td>12/10/2020</td>
                            </tr>
                            <tr>
                                <td>abc</td>
                                <td>12/10/2020</td>
                            </tr>
                            <tr>
                                <td>abc</td>
                                <td>12/10/2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock content %}


{% block page_js %}
<script>
    $(document).ready(function(){ 
        var options = {
            language: {
            paginate: {
                previous: "<i class='fas fa-angle-left'>",
                next: "<i class='fas fa-angle-right'>"
            }
            },
            scrollX: true,
        };
        $('#myTable').DataTable(options) 

    });
</script>
{% endblock page_js %}