{% extends 'dashboard-base.html' %}
{% load static sass_tags %}

{% block sidebar %}
{% endblock sidebar %}

{% block portal_navbar %}
{% endblock portal_navbar %}

{% block content %}
<div class="dashboard-section">
    <div class="container">
        <h2 class="mb-4 ml-3 ml-md-0">AJ Products</h2>
        <div class="row dashboard-row">
            <div class="col-md-6 col-12 dashboard-product-col realty-product-col">
                <h3>AJ Realty</h3>
                <div class="dashboard-product-links">
                    <a class="mr-5" href="{% url 'cms:home' %}">Visit Site</a>
                    <a href="{% url 'user:property-listing' %}">Enter Portal</a>
                </div>
            </div>
            <div class="col-md-6 col-12 dashboard-product-col reliance-product-col">
                <h3>AJ Reliance</h3>
                <div class="dashboard-product-links">
                    <a class="mr-5" href="{% url 'cms:home' %}">Visit Site</a>
                    <a href="{% url 'user:property-listing' %}">Enter Portal</a>
                </div>
            </div>
            <div class="col-md-6 col-12 dashboard-product-col realty-product-col">
                <h3>AJ Realty</h3>
                <div class="dashboard-product-links">
                    <a class="mr-5" href="{% url 'cms:home' %}">Visit Site</a>
                    <a href="{% url 'user:property-listing' %}">Enter Portal</a>
                </div>
            </div>
            <div class="col-md-6 col-12 dashboard-product-col realty-product-col">
                <h3>AJ Realty</h3>
                <div class="dashboard-product-links">
                    <a class="mr-5" href="{% url 'cms:home' %}">Visit Site</a>
                    <a href="{% url 'user:property-listing' %}">Enter Portal</a>
                </div>
            </div>
        </div>

        <div class="row product-announcement-row">
            <div class="col-md-6 col-12 product-annoucement-col">
                <h2>Annoucement</h2>
                <div class="body">
                    <div class="mb-3 text-right">
                        <a href="{% url 'user:announcement' %}">See All</a>
                    </div>
                    <div class="row mb-3 mb-lg-0">
                        <div class="col-lg-4 col-md-8 col-12 mb-2 mb-lg-3">
                            <div class="date">
                                <p class="mb-0">29 Sep 2020</p>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="info">
                                <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-lg-0">
                        <div class="col-lg-4 col-md-8 col-12 mb-2 mb-lg-3">
                            <div class="date">
                                <p class="mb-0">29 Sep 2020</p>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="info">
                                <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 product-commissions-col">
                <h2>Commissions</h2>
                <div class="body">
                    <div class="mb-3 text-right">
                        <a href="{% url 'user:property-commission' %}">See All</a>
                    </div>
                    <div class="row mb-3 mb-lg-0">
                        <div class="col-md-4 col-12 mb-3">
                            <div class="date">
                                <p class="mb-0">29 Sep 2020</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="amount">
                                <p class="mb-0">RM1222</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="status">
                                <p class="mb-0 text-right successful">Successful</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-lg-0">
                        <div class="col-md-4 col-12 mb-3">
                            <div class="date">
                                <p class="mb-0">29 Sep 2020</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="amount">
                                <p class="mb-0">RM1222</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="status">
                                <p class="mb-0 text-right pending">Pending</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-lg-0">
                        <div class="col-md-4 col-12 mb-3">
                            <div class="date">
                                <p class="mb-0">29 Sep 2020</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="amount">
                                <p class="mb-0">RM1222</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="status">
                                <p class="mb-0 text-right unsuccessful">Unsuccessful</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>  
</div>
{% endblock content %}