{% extends 'dashboard-base.html' %}
{% load static sass_tags %}

{% block page_css %}
    <style>
        .navbar-nav {
            display: none;
        }

        .navbar-toggler-icon {
            display: none;
        }
    </style>
{% endblock page_css %}

{% block sidebar %}
{% endblock sidebar %}

{% block portal_navbar %}
{% endblock portal_navbar %}

{% block content %}
<div class="registration-section">
    <div class="container-fluid">
        <div class="registration-body login-body">
            <form class="login-form">
                <h2 class="mb-4">Advertiser Programme</h2>
                <div class="form-row mb-3">
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-12">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <input type="checkbox">
                        <label>Remember Me</label>
                    </div>
                    <a href="#" class="d-flex align-self-center">Forgot your password?</a>
                </div>
                <div class="btn-div text-center">
                    <button class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>
    </div>  
</div>
{% endblock content %}
