{% extends 'dashboard-base.html' %}
{% load static sass_tags %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="programme-section">
    <div class="commission-header pl-5">
        <div class="container">
            <h2>My Profile</h2>
        </div>
    </div>
    <div class="container">
        <div class="programme-body property-programme-body px-4">
            <div class="programme-content property-programme-content">
                <div class="row profile-row">
                    <div class="col-md-6 col-12 mb-4 pl-5">
                        <p class="mb-1">Business Owner Name</p>
                        <p class="mb-0 text-blue">abc</p>
                    </div>
                    <div class="col-md-6 col-12 mb-4 pl-5">
                        <p class="mb-1">NRIC</p>
                        <p class="mb-0 text-blue">abc</p>
                    </div>
                </div>
                <div class="row profile-row">
                    <div class="col-md-6 col-12 mb-4 pl-5">
                        <p class="mb-1">Primary Contact</p>
                        <p class="mb-0 text-blue">abc</p>
                    </div>
                    <div class="col-md-6 col-12 mb-4 pl-5">
                        <p class="mb-1">Secondary Contact</p>
                        <p class="mb-0 text-blue">abc</p>
                    </div>
                </div>
                <div class="row profile-row">
                    <div class="col-md-6 col-12 mb-4 pl-5">
                        <p class="mb-1">Gender</p>
                        <p class="mb-0 text-blue">abc</p>
                    </div>
                    <div class="col-md-6 col-12 mb-4 pl-5">
                        <p class="mb-1">Email</p>
                        <p class="mb-0 text-blue">abc</p>
                    </div>
                </div>
                  <div class="row profile-row">
                    <div class="col-md-6 col-12 mb-4 pl-5">
                        <p class="mb-1">Shariah Compliance (SC)</p>
                        <p class="mb-0 text-blue">abc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock content %}

