{% extends 'dashboard-base.html' %}
{% load static sass_tags %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="programme-section">
    <div class="commission-header pl-5">
        <div>
            <h2>My Commissions</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="programme-body">
            <div class="programme-content">
                <div class="table-responsive pb-4">
                    <table class="table table-flush w-100" id="myTable">
                        <thead class="thead-light">
                            <tr>
                                <th>Commission ID</th>
                                <th>Property Name</th>
                                <th>Property Sales Price (RM)</th>
                                <th>Basic Commission Amount (RM)</th>
                                <th>Basic Commission Percentage (RM)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>123123</td>
                                <td>Gamuda</td>
                                <td>RM1,000,000</td>
                                <td>RM10,000</td>
                                <td>1.0%</td>
                                <td><a href="#">Download</a></td>
                            </tr>
                            <tr>
                                <td>123123</td>
                                <td>Gamuda</td>
                                <td>RM1,000,000</td>
                                <td>RM10,000</td>
                                <td>1.0%</td>
                                <td><a href="#">Download</a></td>
                            </tr>
                            <tr>
                                <td>123123</td>
                                <td>Gamuda</td>
                                <td>RM1,000,000</td>
                                <td>RM10,000</td>
                                <td>1.0%</td>
                                <td><a href="#">Download</a></td>
                            </tr>
                            <tr>
                                <td>123123</td>
                                <td>Gamuda</td>
                                <td>RM1,000,000</td>
                                <td>RM10,000</td>
                                <td>1.0%</td>
                                <td><a href="#">Download</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock content %}


{% block page_js %}
<script>
    $(document).ready(function(){ 
        var options = {
            language: {
            paginate: {
                previous: "<i class='fas fa-angle-left'>",
                next: "<i class='fas fa-angle-right'>"
            }
            },
            scrollX: true,
        };
        $('#myTable').DataTable(options) 

    });
</script>
{% endblock page_js %}