{% extends 'dashboard-base.html' %}
{% load static sass_tags %}


{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="programme-section">
    <div class="container-fluid">
        <div class="commission-header registration-list-header pl-5">
            <h2 class="mb-4">My Registrations</h2>
            <div class="registration-referral">
                <p class="mb-0 mr-4">Copy My Referral Link</p>
                <a href="#">https:nsakjnfkanskfsd</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="programme-body">
            <div class="programme-content">
                <div class="table-responsive pb-4">
                    <table class="table table-flush w-100" id="myTable">
                        <thead class="thead-light">
                            <tr>
                                <th>Partner ID</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>NRIC</th>
                                <th>Email</th>
                                <th>Phone No.</th>
                                <th>Status</th>
                                <th>Date Joined</th>
                                <th>Date Of Expiry</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>123</td>
                                <td>Jon123</td>
                                <td>Jon Snow</td>
                                <td>920301233222</td>
                                <td>jon@gmail.com</td>
                                <td>01123332222</td>
                                <td>Active</td>
                                <td>12/09/2020</td>
                                <td>12/10/2021</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Jon123</td>
                                <td>Jon Snow</td>
                                <td>920301233222</td>
                                <td>jon@gmail.com</td>
                                <td>01123332222</td>
                                <td>Active</td>
                                <td>12/09/2020</td>
                                <td>12/10/2021</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Jon123</td>
                                <td>Jon Snow</td>
                                <td>920301233222</td>
                                <td>jon@gmail.com</td>
                                <td>01123332222</td>
                                <td>Active</td>
                                <td>12/09/2020</td>
                                <td>12/10/2021</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock content %}


{% block page_js %}
<script>
    $(document).ready(function(){ 
        var options = {
            language: {
            paginate: {
                previous: "<i class='fas fa-angle-left'>",
                next: "<i class='fas fa-angle-right'>"
            }
            },
            responsive: true,
            scrollX: true,
        };
        $('#myTable').DataTable(options) 

    });
</script>
{% endblock page_js %}