{% extends 'dashboard-base.html' %}
{% load static sass_tags %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="programme-section">
    <div class="commission-header pl-5">
        <div class="container">
            <h2>Property Listing</h2>
        </div>
    </div>
    <div class="container">
        <div class="programme-body property-programme-body px-4">
            <div class="programme-content">
                <div class="programme-list">
                    <div class="row programme-list-row no-gutters">
                        <div class="col-md-5 col-12 programme-list-img-col">
                            <img src="{% static 'img/theme/team-1.jpg' %}" alt="">
                        </div>
                        <div class="col-md-7 col-12 programme-info-col">
                            <div class="programme-property-info">
                                <div class="property-name">
                                    <h3 class="mb-0">Property Name Line 1</h3>
                                    <h3 class="mb-0">Property Name Line 2</h3>
                                </div>
                                <div class="property-type">
                                    <small>House</small>
                                </div>
                                <div class="property-price">
                                    <h4 class="mb-2 mb-md-0 mt-2">RM4,000,000</h4>
                                </div>
                                <div class="property-size mb-3 mb-md-2">
                                    <small>2,722 sqft</small>
                                </div>
                                <div class="btn-div">
                                    <button class="btn btn-primary mb-3 mb-md-1">Download Resources</button>
                                    <a class="btn btn-outline-primary mb-md-1" href="{% url 'user:property-details' %}">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="programme-list">
                    <div class="row programme-list-row no-gutters">
                        <div class="col-md-5 col-12 programme-list-img-col">
                            <img src="{% static 'img/theme/team-1.jpg' %}" alt="">
                        </div>
                        <div class="col-md-7 col-12 programme-info-col">
                            <div class="programme-property-info">
                                <div class="property-name">
                                    <h3 class="mb-0">Property Name Line 1</h3>
                                    <h3 class="mb-0">Property Name Line 2</h3>
                                </div>
                                <div class="property-type">
                                    <small>House</small>
                                </div>
                                <div class="property-price">
                                    <h4 class="mb-2 mb-md-0 mt-2">RM4,000,000</h4>
                                </div>
                                <div class="property-size mb-3 mb-md-2">
                                    <small>2,722 sqft</small>
                                </div>
                                <div class="btn-div">
                                    <button class="btn btn-primary mb-3 mb-md-1">Download Resources</button>
                                    <a class="btn btn-outline-primary mb-md-1" href="{% url 'user:property-details' %}">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example text-right">
            <ul class="pagination px-5">
                <li class="page-item mx-1"><a class="page-link" href="#"><</a></li>
                <li class="page-item mx-1 active"><a class="page-link" href="#">1</a></li>
                <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
                <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
                <li class="page-item mx-1"><a class="page-link" href="#">></a></li>
            </ul>
        </nav>
    </div>  
</div>
{% endblock content %}