{% extends 'dashboard-base.html' %}
{% load static sass_tags %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="programme-section">
    <div class="commission-header pl-5">
        <div class="container">
            <a class="text-white" href="{% url 'user:property-listing' %}"><img class="mr-2" style="width: 14px;" src="{% static 'img/icons/back-white.png' %}" alt=""> Back</a>
        </div>
    </div>
    <div class="container">
        <div class="programme-body property-programme-body px-4">
            <div class="programme-content property-programme-content">
                <div class="property-content-body">
                    <div class="property-details-name">
                        <h2 class="mb-0">Property Name Line 1</h2>
                        <h2 class="mb-0">Property Name Line 2</h2>
                    </div>
                    <div class="owl-carousel property-carousel owl-theme" data-slider-id="1">
                        <div class="featured-owl-img"> 
                            <img src="{% static 'img/theme/team-1.jpg' %}" alt="">
                        </div>
                        <div class="featured-owl-img">
                            <img src="{% static 'img/theme/team-2.jpg' %}" alt="">
                        </div>
                        <div class="featured-owl-img">
                            <img src="{% static 'img/theme/team-3.jpg' %}" alt="">
                        </div>
                        <div class="featured-owl-img">
                            <img src="{% static 'img/theme/team-4.jpg' %}" alt="">
                        </div>
                        <div class="featured-owl-img"> 
                            <img src="{% static 'img/theme/team-1.jpg' %}" alt="">
                        </div>
                        <div class="featured-owl-img">
                            <img src="{% static 'img/theme/team-2.jpg' %}" alt="">
                        </div>
                        <div class="featured-owl-img">
                            <img src="{% static 'img/theme/team-3.jpg' %}" alt="">
                        </div>
                        <div class="featured-owl-img">
                            <img src="{% static 'img/theme/team-4.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="owl-thumbs" data-slider-id="1">
                        <button class="owl-thumb-item"><img src="{% static 'img/theme/team-1.jpg' %}" alt=""></button>
                        <button class="owl-thumb-item"><img src="{% static 'img/theme/team-2.jpg' %}" alt=""></button>
                        <button class="owl-thumb-item"><img src="{% static 'img/theme/team-3.jpg' %}" alt=""></button>
                        <button class="owl-thumb-item"><img src="{% static 'img/theme/team-4.jpg' %}" alt=""></button>
                        <button class="owl-thumb-item"><img src="{% static 'img/theme/team-1.jpg' %}" alt=""></button>
                        <button class="owl-thumb-item"><img src="{% static 'img/theme/team-2.jpg' %}" alt=""></button>
                        <button class="owl-thumb-item"><img src="{% static 'img/theme/team-3.jpg' %}" alt=""></button>
                        <button class="owl-thumb-item"><img src="{% static 'img/theme/team-4.jpg' %}" alt=""></button>
                    </div>
                    <div class="property-details-body">
                        <h3><i class="fas fa-tag mr-2 mb-3"></i>RM 2,000,000</h3>
                        <div class="details mb-5">
                            <h4 class="mb-3">Property Details</h4>
                            <div class="category-type mb-3">
                                <p class="mb-0 type text-grey avenir-roman">Category Type</p>
                                <p class="mb-0">Houses</p>
                            </div>
                            <div class="category-type mb-3">
                                <p class="mb-0 type text-grey avenir-roman">Property Type</p>
                                <p class="mb-0">Double Storey</p>
                            </div>
                            <div class="category-type mb-3">
                                <p class="mb-0 type text-grey">Title Type</p>
                                <p class="mb-0">Freehold</p>
                            </div>
                            <div class="category-type mb-3">
                                <p class="mb-0 type text-grey avenir-roman">Size</p>
                                <p class="mb-0">2,22 sqft</p>
                            </div>
                            <div class="category-type mb-3">
                                <p class="mb-0 type text-grey avenir-roman">Other Info</p>
                                <p class="mb-0">Non Bumi lot</p>
                            </div>
                        </div>
                        <div class="description mb-5">
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio delectus libero enim corrupti praesentium ipsam earum? Quae, laboriosam ducimus?</p>
                            <p class="mb-0">Property video: <a href="#">https://blabla</a></p>
                        </div>
                        <div class="resources mb-5">
                            <div class="resources-type mb-3">
                                <p class="mb-0 type text-grey avenir-roman">Brochure</p>
                                <a href="#">Download</a>
                            </div>
                            <div class="resources-type mb-3">
                                <p class="mb-0 type text-grey avenir-roman">Floor Plan</p>
                                <a href="#">Download</a>
                            </div>
                            <div class="resources-type mb-3">
                                <p class="mb-0 type text-grey avenir-roman">Booking Form</p>
                                <a href="#">Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock content %}

{% block page_js %}
<script>
    $(document).ready(function(){
        $(".property-carousel").owlCarousel({
            loop:true,
            margin:20,
            responsiveClass:true,
            thumbs: true,
            thumbsPrerendered: true,
            navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
            responsive:{
                0:{
                    items:1,
                },
                600:{
                    items:1,
                },
                1000:{
                    items:1,
                }
            }
        });
    });
    </script>
{% endblock page_js %}