@font-face {
    font-family: 'Avenir-light';
    src: url('../fonts/Avenir-Light.woff2') format('woff2'),
		url('../fonts/Avenir-Light.woff') format('woff'),
		url('../fonts/Avenir-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-medium';
    src: url('../fonts/Avenir-Medium.woff2') format('woff2'),
		url('../fonts/Avenir-Medium.woff') format('woff'),
		url('../fonts/Avenir-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-heavy';
    src: url('../fonts/Avenir-Heavy.woff2') format('woff2'),
		url('../fonts/Avenir-Heavy.woff') format('woff'),
		url('../fonts/Avenir-Heavy.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-roman';
    src: url('../fonts/Avenir-Roman.woff2') format('woff2'),
		url('../fonts/Avenir-Roman.woff') format('woff'),
		url('../fonts/Avenir-Roman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

$white : #fff;
$black : #000;
$light-blue: #E5EFFF;
$blue: #6578FC;
$dark-blue: #00116C;
$cyan: #20C5D7;
$green: #20DA0F;
$yellow: #EACF40;
$red: #E5520F;
$grey-100: #fafafa;
$grey-200: #f4f4f6;
$grey-300: #e3e3e3;
$grey-400: #CCCCCC;
$grey-500: #a5a5a5;
$grey-600: #707070;
$grey-700: #4d4d4d;

$avenir-light : 'Avenir-light';
$avenir-medium : 'Avenir-medium';
$avenir-heavy : 'Avenir-heavy';
$avenir-roman : 'Avenir-roman';

body {
	background-color: #fff;
}

.avenir-light {
    font-family: 'Avenir-light';
}

.avenir-medium {
    font-family: 'Avenir-medium';
}

.avenir-heavy {
    font-family: 'Avenir-heavy';
}

.avenir-roman {
    font-family: 'Avenir-roman';
}

p {
  	font-size: 14px;
  	font-family: 'Avenir-light';
}

h2, h3 {
  	font-family: 'Avenir-heavy';
}


h4, h5, h6 {
	font-family: 'Avenir-medium'
}

.text-white {
	color: #fff;
}

.text-grey {
    color: $grey-400;
}

.text-blue {
    color: $blue;
}

.btn-primary {
	background: $blue;
	transition: all 0.25s;

	&:hover {
		background: $dark-blue;
		transform: translateY(0px);
	}

}

.main-content {
    .container-fluid {
        @media screen and (min-width:768px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        @media screen and (max-width:767px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
