{% extends 'cms-base.html' %}
{% load static sass_tags %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="error-section">
    <div class="error-page-body">
        {% include 'svg/AP_Error_404.svg' %}
        <p>Ooops! The page you were looking for, couldn't be found.</p>
        <a class="btn btn-primary" href="{% url 'user:dashboard' %}">Back to dashboard</a>
    </div>
    
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}