{% load static sass_tags %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MSS Mall">
    <meta name="author" content="MSS">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/brand/apple-touch-icon.png' %}?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/brand/favicon-32x32.png' %}?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/brand/favicon-16x16.png' %}?v=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="{% static 'node_modules/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
    <link href="{% static 'node_modules/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.default.min.css' %}">
    <link href="{% sass_src 'scss/argon.scss' %}" rel="stylesheet" type="text/css" />
    <title>{% block title %}{% endblock title %} | AJ Realty</title>
    {% block page_css %}
    {% endblock page_css %}
</head>
<body data-spy="scroll" data-target="#cms-navbar" data-offset="100">
    {% block navbar %}
    <nav id="cms-navbar" class="navbar navbar-expand-lg cms-navbar navbar-light">
        <a class="navbar-brand" href="{% url 'cms:home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link sliding-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sliding-link" href="#about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sliding-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sliding-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item ml-lg-3">
                    <a class="nav-link btn btn-primary text-white" href="{% url 'registration:registration' %}"">Become a Property Planner</a>
                </li>
            </ul>
        </div>
      </nav>
      {% endblock navbar %}

      {% block content %}
      {% endblock content %}

      {% block footer %}
      {% include "partials/footer.html" %}
      {% endblock footer %}


    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'node_modules/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'node_modules/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'node_modules/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
    <script src="{% static 'node_modules/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/argon.js' %}"></script>
    {% block page_js %}
    {% endblock page_js %}
</body>
</html>