{% load static sass_tags %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MSS Mall">
    <meta name="author" content="MSS">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/brand/apple-touch-icon.png' %}?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/brand/favicon-32x32.png' %}?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/brand/favicon-16x16.png' %}?v=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="{% static 'node_modules/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
    <link href="{% static 'node_modules/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.default.min.css' %}">
    <link href="{% sass_src 'scss/argon.scss' %}" rel="stylesheet" type="text/css" />
    <title>{% block title %}{% endblock title %} | AJ Realty</title>
    {% block page_css %}
    {% endblock page_css %}
</head>
<body>
    {% block sidebar %}
    {% include 'partials/sidebar.html' %}
    {% endblock sidebar %}
    <div class="main-content" id="panel">
        {% block navbar %}
            {% include 'partials/dashboard-navbar.html' %}
        {% endblock navbar %}
        {% block portal_navbar %}
            {% include 'partials/portal-navbar.html' %}
        {% endblock portal_navbar %}

        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
          
            {% block footer %}
            {% endblock footer %}
        </div>
        <div class="modal fade" id="modal_messages" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'node_modules/js-cookie/src/js.cookie.js' %}"></script>
    <script src="{% static 'node_modules/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'node_modules/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
    <script src="{% static 'node_modules/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel2.thumbs.min.js' %}"></script>
    <script src="{% static 'js/argon.js' %}"></script>

    {% block page_js %}
    {% endblock page_js %}
</body>
</html>