{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
	<!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<meta content="width=device-width" name="viewport"/>
	<!--[if !mso]><!-->
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<!--<![endif]-->
	<title></title>
	<!--[if !mso]><!-->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"/>
	<!--<![endif]-->
	<style type="text/css">
	body {
		margin: 0;
		padding: 0;
	}

	table,
	td,
	tr {
		vertical-align: top;
		border-collapse: collapse;
	}

	* {
		line-height: inherit;
	}

	a[x-apple-data-detectors=true] {
		color: inherit !important;
		text-decoration: none !important;
	}
	.button-shadow{
		-moz-box-shadow: 3px 3px 5px 0px #ddd;
		-webkit-box-shadow: 3px 3px 5px 0px #ddd;
		box-shadow: 3px 3px 5px 0px #ddd;
	}
	</style>
	<style id="media-query" type="text/css">
	@media (max-width: 620px) {

		.block-grid,
		.col {
			min-width: 320px !important;
			max-width: 100% !important;
			display: block !important;
		}

		.block-grid {
			width: 100% !important;
		}

		.col {
			width: 100% !important;
		}

		.col>div {
			margin: 0 auto;
		}

		img.fullwidth,
		img.fullwidthOnMobile {
			max-width: 100% !important;
		}

		.no-stack .col {
			min-width: 0 !important;
			display: table-cell !important;
		}

		.no-stack.two-up .col {
			width: 50% !important;
		}

		.no-stack .col.num4 {
			width: 33% !important;
		}

		.no-stack .col.num8 {
			width: 66% !important;
		}

		.no-stack .col.num4 {
			width: 33% !important;
		}

		.no-stack .col.num3 {
			width: 25% !important;
		}

		.no-stack .col.num6 {
			width: 50% !important;
		}

		.no-stack .col.num9 {
			width: 75% !important;
		}

		.video-block {
			max-width: none !important;
		}

		.mobile_hide {
			min-height: 0px;
			max-height: 0px;
			max-width: 0px;
			display: none;
			overflow: hidden;
			font-size: 0px;
		}

		.desktop_hide {
			display: block !important;
			max-height: none !important;
		}
		#middle{
			display: flex;
	    flex-direction: column;
	    align-items: center;
	    border: 0 !important;
		}
		.num4{
			text-align: center;
		}
	}
	</style>
</head>
<body class="clean-body" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #FFFFFF;">
	<!--[if IE]><div class="ie-browser"><![endif]-->
		<table bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" class="nl-container" role="presentation" style="table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF; width: 100%;" valign="top" width="100%">
			<tbody>
				<tr style="vertical-align: top;" valign="top">
					<td style="word-break: break-word; vertical-align: top;" valign="top">
						<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color:#FFFFFF"><![endif]-->
						<div style="background-color:transparent;">
							<div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;">
								<div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
									<!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:transparent;"><tr><td align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px"><tr class="layout-full-width" style="background-color:transparent"><![endif]-->
									<!--[if (mso)|(IE)]><td align="center" width="600" style="background-color:transparent;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;"><![endif]-->
									<div class="col num12" style="min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;">
										<div style="width:100% !important;">
											<!--[if (!mso)&(!IE)]><!-->
											<div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
											<!--<![endif]-->
											<div align="center" class="img-container center autowidth fullwidth">
												<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px"><td style="" align="center"><![endif]-->
												<img align="center" alt="Image" border="0" class="center autowidth fullwidth" src="https://iili.io/3M11bn.png" style="text-decoration: none; -ms-interpolation-mode: bicubic; border: 0; height: auto; width: 100%; max-width: 600px; display: block;" title="Image" width="600"/>
													<!--[if mso]></td></tr></table><![endif]-->
											</div>
											<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
											<div style="color:#555555;font-family:'Roboto', Tahoma, Verdana, Segoe, sans-serif;line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px; margin-top: 30px;">
												<div style="font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; font-size: 12px; line-height: 14px; color: #555555;">
													<p style="font-size: 14px; line-height: 16px; margin: 0;">
														<span style="color: #000000; font-size: 14px; line-height: 16px; font-weight: bold;"><strong>Hi, John Snow!</span>
													</p>
												  <br/>
													<p style="font-size: 14px; line-height: 16px; margin: 0; margin-bottom: 30px;">
														<span style="color: #000000; font-size: 14px; line-height: 16px;">Thank you for singing up with Affiliate Junction Advertiser Programme. Please click the activation link to confirm your e-mail and activate your account within 3 days.</span>
													</p>
												</div>
											</div>
											<div style="color:#555555;font-family:'Roboto', Tahoma, Verdana, Segoe, sans-serif;line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
												<div style="font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; font-size: 12px; line-height: 14px; color: #555555;">
													<p style="font-size: 14px; line-height: 16px; margin: 0; text-align: center;">
														<span style="color: #000000; font-size: 14px; line-height: 16px;">
															<a href="#" class="button-shadow" style="display: inline-block;border: 1px solid #001CAD;border-radius: 5px;padding: 20px 40px;font-size: 18px;text-decoration: none;color: #fff;background-color: #001CAD;">
																Click here to activate account
															</a>
														</span>
													</p>
												</div>
											</div>
											<div style="color:#555555;font-family:'Roboto', Tahoma, Verdana, Segoe, sans-serif;line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px; margin-bottom: 30px;">
												<div style="font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; font-size: 12px; line-height: 14px; color: #555555; margin-top: 30px;">
                                                    <p style="font-size: 14px; line-height: 16px; margin: 0; margin-bottom: 10px;"><span style="color: #000000; font-size: 14px; line-height: 16px;">Or verify using think link: </span></p>
                                                    <a href="#" style="font-size: 14px; line-height: 16px; margin: 0;"><span style="color:#002AF5; text-decoration: none; font-size: 14px; line-height: 16px;">https://blabla.com</span></a>
												</div>
											</div>
			
											<!--[if mso]></td></tr></table><![endif]-->
											<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, Verdana, sans-serif"><![endif]-->
											<div style="color:#555555;font-family:'Roboto', Tahoma, Verdana, Segoe, sans-serif;line-height:120%;padding-top:20px;padding-right:10px;padding-bottom:30px;padding-left:10px; background: #fafafa; text-align: center;">
												<div style="font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; font-size: 12px; line-height: 14px; color: #555555;">
                                                    <p style="font-size: 14px; line-height: 16px; margin-bottom: 20px;"><span style="color: #000000; font-size: 14px; line-height: 16px;">For any inquiries:</span></p>
                                                    <p style="font-size: 14px; line-height: 16px; margin: 0;"><span style="color: #000000; font-size: 14px; line-height: 16px;">Please send any feedback to <a href="contact@mss.co">contact@mss.co</a></span></p>
                                                    <p style="margin-top: 30px;">
                                                        <a href="https://aj.my/"><img style="width: 20px; margin-left: 10px; margin-right: 10px;" src="https://iili.io/3M1Vsf.png" alt=""></a> 
                                                        <a href="https://www.facebook.com/AffiliateJunction/"><img style="width: 20px; margin-left: 10px; margin-right: 10px;" src="https://iili.io/3M1Xf4.png" alt=""></a> 
                                                        <a href="https://www.instagram.com/affiliatejunctionmy/?hl=en"><img style="width: 20px; margin-left: 10px; margin-right: 10px;" src="https://iili.io/3M1MWG.png" alt=""></a> 
                                                    </p>
												</div>
                                            </div>
											<!--[if mso]></td></tr></table><![endif]-->
											<!--[if (!mso)&(!IE)]><!-->
										</div>
										<!--<![endif]-->
									</div>
								</div>
								<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
								<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
							</div>
						</div>
					</div>
						<!--[if (mso)|(IE)]></td></tr></table><![endif]-->
					</td>
				</tr>
			</tbody>
		</table>
		<!--[if (IE)]></div><![endif]-->
	</body>
</html>
